{{ $title := "" }}
{{ $src := "" }}
{{ $caption := "" }}
{{ $vertical := false }}

{{ if .IsNamedParams }}
  {{ $title = .Get "title" }}
  {{ $caption = .Get "caption" }}
  {{ $src = .Get "src" }}
  {{ with .Get "vertical" }}
    {{ $vertical = . }}
  {{ end }}
{{ else }}
  {{ $title = .Get 0 }}
  {{ $src = .Get 1 }}
{{ end }}

<div class="media">
  <iframe width="{{ cond ($vertical) "394" "700" }}" height="{{ cond ($vertical) "700" "394" }}" src="{{ $src }}" title="{{ $title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  {{- if $caption -}}
  <div class="caption" style="width: {{ cond ($vertical) "394" "700" }}px;">
    <p>{{ $caption }}<p>
  </div>
</div>
{{- end -}}
